RewriteEngine On

# Redirect non-www to www
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.ramzibenfraj.github.io/$1 [L,R=301]

# Prevent directory listing
Options -Indexes

# Prevent access to specific file types
<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

# Set default index file
DirectoryIndex index.php index.html

# Redirect 404 errors to custom error page
ErrorDocument 404 /404.html

# Block access to specific IP addresses
<RequireAll>
    Require all granted
    Require not ip 192.168.1.100
</RequireAll>
